@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Bloggie - Tech Blog
            </h1>
            <p class="lead">
                This is the home of coding blogs for a vast range of topics like Tech news , Javascript , ASP.NET, Angular, SQL etc.
                Want to read the latest DEV articles? Join the Bloggie and get the weekly blogs right in your email
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/360591/pexels-photo-360591.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="code image"
                 class="d-block mx-lg-auto img-fluid" width="400px" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h2 class="mb-5 display-3">Get the latest Blogs</h2>
            @if (Model.Blogs != null && Model.Blogs.Any())
            {
                foreach (var blog in Model.Blogs)
                {
                    <div class="mb-5 bg-light box-shadow">
                        <img src="@blog.FeaturedImageUrl" alt="@blog.Heading" class="mb-2 d-block img-fluid" />
                        <div class="px-4 py-4">
                            <h2 class="mb-2">@blog.Heading</h2>
                            <p>
                                Author : @blog.Author
                                <br />
                                Date Published : @blog.PublishDate.ToShortDateString()
                            </p>
                            <p class="mb-2">@blog.ShortDescription</p>
                            <a href="#" class="btn btn-dark">Read More</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


